/* Base Styles */
body {
    background-color: gray;
    font-family: Arial;
    padding: 10px;
    margin: auto;
}

/* Layout Containers */
.big_div {
    background-color: lightgray;
    margin: 15px;
    align-items: center;
    justify-content: top;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

#task_types {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.task_type {
    background-color: gray;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 400px;
    height: 500px;
    margin: 10px;
}

/* Task Lists */
.task_list {
    width: 100%;
    height: 400px;
    overflow-y: auto;
}

.task_list_item {
    list-style-type: none;
    background-color: white;
    padding: 10px;
    width: 300px;
    height: 100px;
    display: flex;   
    flex-direction: column;
    margin: 5px;
    border: 3px solid black;
    overflow-y: auto;
}

.list_title {
    font-size: 30px;
    color: black;
    text-align: center;
}

/* Task Icons */
.edit_icon {
    color: white;
    font-size: 16px;
    width: 20px;
    height: 20px;
}

.delete_icon {
    color: white;
    font-size: 16px;
    width: 20px;
    height: 20px;
}

.task_icons_div {
    display: flex;
    justify-content: flex-end;
}

/* User Checkboxes */
#userCheckboxes {
    display: flex;
    flex-direction: column;
    max-height: 130px;
    overflow-y: auto;
    background: white;    
    width: 160px;
    margin-bottom: 10px;
}

#userCheckboxes label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

input[type="checkbox"] {
    width: 30px;
    height: 20px;
    margin-right: 5px;
    margin-top: 10px;
}

/* Buttons */
button {
    background-color: white;
    color: blue;
    font-size: 16px;
    width: 160px;
    height: 40px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

#btnSelectAll,
#addTask {
    background-color: blue;
    color: white;
    font-size: 16px;
    width: 160px;
    height: 40px;
    margin: 10px;
}

#addTask {
    align-self: flex-start;
    margin-top: 10px;
}

#btnSelectAll {
    align-self: flex-end;
    margin-top: 10px;
}

#toggleDarkMode {
    margin: 5px;
}

/* Project Elements */
#project_name {
    font-size: 40px;
    color: black;
    text-align: center;
}

#project_buttons {
    display: flex;
    gap: 30px; 
    justify-content: center; 
}

/* Form Inputs */
input {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 12px;
    font-size: 16px;
    height: 40px;
}

