body.dark-mode {
    background-color: #222;
    color: #cfcfcf;
}
.dark-mode .big_div {
    background-color: #333;
}
.dark-mode .task_type {
    background-color: #444;
}
.dark-mode .project_list_item {
    background-color: #444;
    color: #cfcfcf;
}
.dark-mode .project_list_item,
.dark-mode .user_list_item,
.dark-mode .task_list_item {
    background-color: black;
    color: #cfcfcf;
    border: 3px solid gray;
}
.dark-mode input,
.dark-mode button {
    background-color: black;
    color: #cfcfcf;
}

.dark-mode #project_name {
    color: #cfcfcf;
}


.dark-mode .edit_button {
    width: 10px;
    height: 10px;
}
.dark-mode #btnSelectAll,
.dark-mode #addTask,
.dark-mode #addUser,
.dark-mode #addProject {
    background-color: #555;
    color: #cfcfcf;
    font-size: 16px;
    width: 160px;
    height: 40px;
    margin: 5px;
    border: 1px solid #ccc; 
}


.dark-mode #userCheckboxes {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: black;     
}